@import "@/assets/variables.scss";
@import "@/assets/_placeholder.scss";
@import "@/assets/maxwidth.scss";
@import "@/assets/styles-override.scss";
@import "//fonts.googleapis.com/css2?family=Open+Sans&display=swap";
@import "node_modules/@picocss/pico/scss/pico.scss";
